@model Artist

@{
    ViewData["Title"] = "Sanatçı Ekle";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#">Admin Paneli</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Sanatçı Ekle</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <a href="/Artist/CreateArtist" class="btn btn-sm btn-success">Yeni Sanatçı Ekle</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="card">
        <div class="card-header">
            <h3 class="mb-0">Yeni Sanatçı Ekle</h3>
        </div>
        <div class="card-body">
            <form asp-action="CreateArtist" method="post">
                <div class="form-group">
                    <label for="Name">Ad</label>
                    <input type="text" class="form-control" id="Name" name="Name" required />
                </div>
                <div class="form-group">
                    <label for="Birthdate">Doğum Tarihi</label>
                    <input type="date" class="form-control" id="Birthdate" name="Birthdate" required />
                </div>
                <div class="form-group">
                    <label for="MusicGenre">Müzik Tipi</label>
                    <input type="text" class="form-control" id="MusicGenre" name="MusicGenre" required />
                </div>
                <div class="form-group">
                    <label for="ImageUrl">Resim Yolu</label>
                    <input type="text" class="form-control" id="ImageUrl" name="ImageUrl" required />
                </div>
                <div class="form-group">
                    <label for="YoutubeChannel">Youtube Kanalı</label>
                    <input type="text" class="form-control" id="YoutubeChannel" name="YoutubeChannel" required />
                </div>
                <button type="submit" class="btn btn-primary mt-3">Kaydet</button>
                <a href="@Url.Action("ArtistList", "Artist")" class="btn btn-secondary mt-3">İptal</a>
            </form>
        </div>
    </div>
</div>
    </div>
</div>
