@{
    Layout = null;
}

<!DOCTYPE html>
<html>

@await Component.InvokeAsync("AdminLayoutHeadComponentPartial")

<body>

    @await Component.InvokeAsync("AdminLayoutSidebarComponentPartial")

    <div class="main-content" id="panel">

        @await Component.InvokeAsync("AdminLayoutNavbarComponentPartial")

        @RenderBody()

    </div>

    @await Component.InvokeAsync("AdminLayoutScriptComponentPartial")
    @RenderSection("Scripts", required: false)
</body>

</html>
