@model SocialMedia
@{
    ViewData["Title"] = "Yeni Sosyal Medya Ekle";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="container-fluid mt--6">
    <div class="card">
        <div class="card-header">
            <h3 class="mb-0">Sosyal Medya Bilgileri</h3>
        </div>
        <div class="card-body">
            <form method="post">
                <div class="mb-3">
                    <label for="platformName" class="form-label">Platform Adı</label>
                    <input type="text" class="form-control" id="platformName" name="PlatformName" required>
                </div>

                <div class="mb-3">
                    <label for="iconUrl" class="form-label">İkon URL</label>
                    <input type="text" class="form-control" id="iconUrl" name="IconUrl" required>
                </div>

                <div class="mb-3">
                    <label for="url" class="form-label">URL</label>
                    <input type="text" class="form-control" id="url" name="Url" required>
                </div>

                <button type="submit" class="btn btn-success">Kaydet</button>
                <a href="/SocialMedia/SocialMediaList" class="btn btn-secondary">Geri Dön</a>
            </form>
        </div>
    </div>
</div>
