@model SocialMedia
@{
    ViewData["Title"] = "Sosyal Medya Güncelle";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#">Admin Paneli</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Sosyal Medya Güncelle</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <a href="/SocialMedia/SocialMediaList" class="btn btn-sm btn-primary">Sosyal Medya Listesi</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="card">
        <div class="card-header">
                    Sosyal Medya Güncelle
                </div>
                <div class="card-body">
                    <form method="post">
                        <input type="hidden" asp-for="Id" />

                        <div class="mb-3">
                            <label for="platformName" class="form-label">Platform Adı</label>
                            <input type="text" class="form-control" id="platformName" name="PlatformName" asp-for="PlatformName" required>
                        </div>

                        <div class="mb-3">
                            <label for="iconUrl" class="form-label">İkon URL</label>
                            <input type="text" class="form-control" id="iconUrl" name="IconUrl" asp-for="IconUrl" required>
                        </div>

                        <div class="mb-3">
                            <label for="url" class="form-label">URL</label>
                            <input type="text" class="form-control" id="url" name="Url" asp-for="Url" required>
                        </div>

                        <button type="submit" class="btn btn-success">Güncelle</button>
                        <a href="/SocialMedia/SocialMediaList" class="btn btn-secondary">Geri Dön</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
