@model List<ArtistEventViewModel>

<section class="artists-section section-padding" id="section_3">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-12 text-center">
                <h1 class="mb-4">Etkinlik Sanatçılarımız</h1>
            </div>

            @foreach (var item in Model)
            {
                <div class="col-lg-5 col-12">
                    <div class="artists-thumb">
                        <div class="artists-image-wrap">
                            <img src="~/@item.ImageUrl" alt="Artist Image">
                        </div>

                        <div class="artists-hover">
                            <p>
                                <strong>Sanatçı:</strong>
                                @item.ArtistName
                            </p>

                            <p>
                                <strong>Etkinlik Saati:</strong>
                                @item.EventTime
                            </p>

                            <p>
                                <strong>Etkinlik Türü:</strong>
                                @item.MusicGenre
                            </p>

                            <hr>

                            <p class="mb-0">
                                <strong>Etkinlik Açıklama:</strong>
                                @item.EventDescription
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
