@model List<ArtistEventViewModel>

<section class="artists-section section-padding" id="section_3">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-12 text-center" style="background: linear-gradient(to right, #ff9933, #ff6600); padding: 15px; border-radius: 10px;">
                <h1 class="mb-0" style="color: #ffffff; font-size: 2.5rem; font-weight: bold; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);">Etkinlik Sanatçılarımız</h1>
            </div>

            <div style="margin-bottom: 30px;"></div>
            <hr />
            @foreach (var item in Model)
            {
                <div class="col-lg-5 col-12">
                    <div class="artists-thumb">
                        <div class="artists-image-wrap">
                            <img src="~/@item.ImageUrl" alt="Artist Image">
                        </div>

                        <div class="artists-hover">
                            <p>
                                <strong>Sanatçı:</strong>
                                @item.ArtistName
                            </p>

                            <p>
                                <strong>Etkinlik Saati:</strong>
                                @item.EventTime
                            </p>

                            <p>
                                <strong>Etkinlik Türü:</strong>
                                @item.MusicGenre
                            </p>

                            <hr>

                            <p class="mb-0">
                                <strong>Etkinlik Açıklama:</strong>
                                @item.EventDescription
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<style>
    .artists-image-wrap {
        border: 1px solid #ff9900; /* Gri renkte ince bir çizgi */
        padding: 20px; /* İsteğe bağlı, çerçeve ile resim arasında boşluk */
        border-radius: 5px; /* İsteğe bağlı, köşeleri yuvarlamak için */
    }

    .artists-thumb {
        background-color: #ffffff; /* Beyaz arka plan */
        box-shadow: 0 16px 24px rgba(0, 0, 0, 0.4);
        /* Hafif gölge */

        border-radius: 10px; /* Köşeleri yuvarla */
        border: 1px solid #ff9900; /* Turuncu sınır */
    }
</style>