@model About

@{
    ViewData["Title"] = "Hakkımda Güncelle";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#">Admin Paneli</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Hakkımda Güncelle</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <a href="/About/AboutList" class="btn btn-sm btn-primary">Hakkımda Listesi</a>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container-fluid mt--6">
    <div class="card">
        <div class="card-header">
            <h3 class="mb-0">Hakkımda Güncelle</h3>     
                </div>
                <div class="card-body">
                        <form asp-action="UpdateAbout" asp-controller="About" method="post">
                            <input type="hidden" asp-for="Id" />
                            <div class="form-group">
                                <label for="Title">Başlık</label>
                                <input type="text" class="form-control" id="Title" name="Title" asp-for="Title" required />
                            </div>
                            <div class="form-group">
                                <label for="Description">Açıklama</label>
                                <textarea class="form-control" id="Description" name="Description" asp-for="Description" rows="3" required>@Model.Description</textarea>
                            </div>
                            <div class="form-group">
                                <label for="Subtitle">Alt Başlık</label>
                                <input type="text" class="form-control" id="Subtitle" name="Subtitle" asp-for="Subtitle" required />
                            </div>
                            <div class="form-group">
                                <label for="PartyDescription">Parti Açıklama</label>
                                <textarea class="form-control" id="PartyDescription" name="PartyDescription" asp-for="PartyDescription" rows="3" required>@Model.PartyDescription</textarea>
                            </div>
                            <div class="form-group">
                                <label for="IconUrl">İkon URL</label>
                                <input type="text" class="form-control" id="IconUrl" name="IconUrl" asp-for="IconUrl" required />
                            </div>
                            <div class="form-group">
                                <label for="MomentTitle">Anlık Başlık</label>
                                <input type="text" class="form-control" id="MomentTitle" name="MomentTitle" asp-for="MomentTitle" required />
                            </div>
                            <div class="form-group">
                                <label for="MomentDescription">Anlık Açıklama</label>
                                <textarea class="form-control" id="MomentDescription" name="MomentDescription" asp-for="MomentDescription" rows="3" required>@Model.MomentDescription</textarea>
                            </div>
                            <button type="submit" class="btn btn-primary mt-3">Güncelle</button>
                            <a href="@Url.Action("AboutList", "About")" class="btn btn-secondary mt-3">İptal</a>
                        </form>
                </div>
            </div>
        </div>

