<section class="about-section section-padding" id="section_2">
    <div class="container">
        <div class="row align-items-center">
            <!-- Sol Yarı -->
            <div class="col-lg-6 col-12 mb-4 mb-lg-0">
                <div class="services-info">
                    <h2 class="text-white mb-4">Festava 2022 Hakkında</h2>
                    <p class="text-white">
                        Festava Live, TemplateMo web sitesi tarafından sağlanan ücretsiz bir CSS şablonudur. Bu düzen Bootstrap v5.2.2 CSS kütüphanesi üzerine kurulmuştur. Bu şablonu ticari web sitenizde özgürce kullanabilirsiniz.
                    </p>
                    <h6 class="text-white mt-4">Hayatınızın Bir Kez Deneyimi</h6>
                    <p class="text-white">
                        Şablon ZIP dosyasını izin olmadan başka bir web sitesinde yeniden dağıtamazsınız.
                    </p>
                    <h6 class="text-white mt-4">Tüm Gece Partisi</h6>
                    <p class="text-white">Lütfen arkadaşlarınıza web sitemizden bahsedin. Teşekkür ederiz.</p>
                </div>
            </div>

            <!-- Sağ Yarı -->
            <div class="col-lg-6 col-12">
                <div class="hakkinda-metin-wrap mb-4" style="border: 1px solid #ccc; padding: 15px; border-radius: 8px;">
                    <!-- Alt alan eklemek için mb-4 sınıfını ekledik -->
                    <div class="hakkinda-metin-bilgi d-flex align-items-center mb-4">
                        <div class="d-flex">
                            <i class="hakkinda-metin-icon bi-person" style="font-size: 24px; background: none; color: yellow;"></i>
                        </div>
                        <div class="ms-4">
                            <h3 class="mb-0" style="color: white;">mutlu bir an</h3>
                            <p class="mb-0" style="color: white;">bizimle harika festival deneyiminiz</p>
                        </div>
                    </div>
                    <!-- Resim Ekleme -->
                    <div class="image-wrap">
                        <img src="~/festalive/images/artists/abstral-official-bdlmo9z5yco-unsplash.jpg" class="img-fluid" alt="Responsive image" style="background: none;">
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>