@model List<FestaLive.Entities.Concrete.Footer>  // Footer modelini doğru şekilde tanımlayın

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Festava Live - Bootstrap 5 CSS Template</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="~/festalive/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/festalive/css/bootstrap-icons.css" rel="stylesheet">
    <link href="~/festalive/css/templatemo-festava-live.css" rel="stylesheet">
</head>

<body>
    <header class="site-header">
        <div class="container">

            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <a class="navbar-brand" href="/Default/Index">
                        FestaLive
                    </a>

                    <!-- Mobil cihazlarda görünen bilet al butonu -->
                    <a href="@Url.Action("Buy", "Ticket")" class="btn custom-btn d-lg-none ms-auto me-4">Bilet Al</a>

                    <!-- Navbar toggler button -->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <!-- Navbar menüsü -->
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav align-items-lg-center ms-auto me-lg-5">
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_1">Ana Sayfa</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_2">Hakkında</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_3">Sanatçılar</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_4">Program</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_5">Fiyatlandırma</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_6">İletişim</a>
                            </li>
                        </ul>

                        <!-- Büyük ekranlarda görünen bilet al butonu -->
                        <a href="@Url.Action("Buy", "Ticket")" class="btn custom-btn d-lg-block d-none">Bilet Al</a>
                    </div>
                </div>
            </nav>

        </div>
    </header>

    <main role="main" class="container">
        @RenderBody()
    </main>

    @* Footer kısmı *@
    <footer class="site-footer">
        <div class="site-footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-12">
                        <h2 class="text-white mb-lg-0">FestaLive</h2>
                    </div>

                    <div class="col-lg-6 col-12 d-flex justify-content-lg-end align-items-center">
                        <ul class="social-icon d-flex justify-content-lg-end">
                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link">
                                    <span class="bi-twitter"></span>
                                </a>
                            </li>

                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link">
                                    <span class="bi-apple"></span>
                                </a>
                            </li>

                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link">
                                    <span class="bi-instagram"></span>
                                </a>
                            </li>

                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link">
                                    <span class="bi-youtube"></span>
                                </a>
                            </li>

                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link">
                                    <span class="bi-pinterest"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-12 mb-4 pb-2">
                    <h5 class="site-footer-title mb-3">Bağlantılar</h5>

                    <ul class="site-footer-links">
                        <li class="site-footer-link-item">
                            <a href="/Default/Index" class="site-footer-link">Ana Sayfa</a>
                        </li>

                        <li class="site-footer-link-item">
                            <a href="#" class="site-footer-link">Hakkımızda</a>
                        </li>

                        <li class="site-footer-link-item">
                            <a href="#" class="site-footer-link">Sanatçılar</a>
                        </li>

                        <li class="site-footer-link-item">
                            <a href="#" class="site-footer-link">Program</a>
                        </li>

                        <li class="site-footer-link-item">
                            <a href="#" class="site-footer-link">Fiyatlandırma</a>
                        </li>

                        <li class="site-footer-link-item">
                            <a href="#" class="site-footer-link">İletişim</a>
                        </li>
                    </ul>
                </div>



            </div>
        </div>

        <div class="site-footer-bottom">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-12 mt-5">
                        <p class="copyright-text">Copyright © 2024 FestaLive Company</p>
                        <p class="copyright-text">Distributed by: <a href="https://github.com/walikalender">KalenderSoftware</a></p>
                    </div>

                    <div class="col-lg-8 col-12 mt-lg-5">
                        <ul class="site-footer-links">
                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link">Şartlar ve Koşullar</a>
                            </li>

                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link">Gizlilik Politikası</a>
                            </li>

                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link">Geri Dönüşleriniz</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="~/festalive/js/bootstrap.bundle.min.js"></script>
</body>
</html>
