<section class="contact-section section-padding" id="section_6">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-12 mx-auto">
                <h2 class="text-center mb-4">İlgileniyor musunuz? Konuşalım</h2>

                <nav class="d-flex justify-content-center">
                    <div class="nav nav-tabs align-items-baseline justify-content-center" id="nav-tab"
                         role="tablist">
                        <button class="nav-link active" id="nav-ContactForm-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-ContactForm" type="button" role="tab"
                                aria-controls="nav-ContactForm" aria-selected="true">
                            <h5>İletişim Formu</h5>
                            <span class="visually-hidden">Aktif Sekme</span>
                        </button>

                        <button class="nav-link" id="nav-ContactMap-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-ContactMap" type="button" role="tab"
                                aria-controls="nav-ContactMap" aria-selected="false">
                            <h5>Google Haritalar</h5>
                        </button>
                    </div>
                </nav>

                <div class="tab-content shadow-lg mt-5" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-ContactForm" role="tabpanel"
                         aria-labelledby="nav-ContactForm-tab">
                        <form class="custom-form contact-form mb-5 mb-lg-0" action="/Contact/Submit" method="post" role="form">
                            <div class="contact-form-body">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <input type="text" name="FullName" id="contact-name" class="form-control" placeholder="Adınız Soyadınız" required>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <input type="email" name="Email" id="contact-email" class="form-control" placeholder="E-posta Adresiniz" required>
                                    </div>
                                </div>
                                <input type="text" name="Subject" id="contact-company" class="form-control" placeholder="Konu" required>
                                <textarea name="Message" rows="3" class="form-control" id="contact-message" placeholder="Mesajınız"></textarea>

                                <div class="col-lg-4 col-md-10 col-8 mx-auto">
                                    <button type="submit" class="btn btn-primary btn-block btn-custom-shadow">Mesaj Gönder</button>
                                </div>

                            </div>
                        </form>

                    </div>

                    @await Component.InvokeAsync("DefaultMapComponentPartial")

                </div>
            </div>

        </div>
    </div>
</section>

<style>
    .btn-custom-shadow {
        box-shadow: 0 16px 24px rgba(0, 0, 0, 0.4); /* Daha belirgin gölge efekti */
    }
</style>
