@model List<Footer>

@{
    ViewData["Title"] = "Footer Listesi";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#">Admin Paneli</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Footer Listele</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <a href="/Footer/CreateFooter" class="btn btn-sm btn-success">Yeni Footer Ekle</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="card">
        <div class="card-header">
            <h3 class="mb-0">Footer Listesi</h3>
        </div>
        <div class="card-body">
            <div class="card-sub">
                Footer ile ilgili işlemleri aşağıdaki panelden yapabilirsiniz.
                <hr />
            </div>
            <div class="table-responsive">
                <table class="table align-items-center">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Telefon</th>
                            <th scope="col">E-Posta</th>
                            <th scope="col">Konum</th>
                            <th scope="col">Sil</th>
                            <th scope="col">Güncelle</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var footer in Model)
                        {
                            <tr>
                                <td>@footer.Id</td>
                                <td>@footer.Phone</td>
                                <td>@footer.EMail</td>
                                <td>@footer.Location</td>
                                <td><a href="/Footer/DeleteFooter/@footer.Id" class="btn btn-danger">Sil</a></td>
                                <td><a href="/Footer/UpdateFooter/@footer.Id" class="btn btn-warning">Güncelle</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="mt-4">
                    <a href="/Footer/CreateFooter" class="btn btn-success">Yeni Footer Ekle</a>
                </div>
            </div>
        </div>
    </div>
</div>
